button{
    margin: 10px;
    border:white solid;
    border-radius: 25px;
    width: 3em;
    height: 3em;
    text-align: center;
    user-select: none;
}

button:focus{
    outline: none;
}
.isActive{
    border:solid red;
    border-width: 5px;
}
.b0{
    background: slateblue;
}
.b1{
    background: lightsteelblue;
}
.picked{
    border-style: dotted;
    background : white;
}

input{
    border-radius: 20px;
    border:solid hsl(240, 100%, 75%);
    margin: 5px 0px;
    padding-left: 5px;
}
h1{
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 55px;
}